html,
body {
	height:100%;
}

#cover {
	background: #222 url('../img/grandcanyon9.jpg') center center no-repeat;
	background-size: cover;
	color:white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}

#cover-caption {
	width:100%;
}

.carousel-item img {
	width:100%;
}

img {
	max-width: 100%;
}

.section-content {
	padding: 5rem 0;
}

#about {
	background: url('../img/girlincar.jpg') center center no-repeat;
	background-size: cover;
}

#about .about-text {
	background-color: rgba(0,0,0,0.8);
	color: white;
	padding: 2rem;
	border-radius: 10px;
}

#footer-main {
	background-color: #222;
	font-size: .5rem;
	color:white;
	padding: 2.5rem 0;
}